<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/home', 'dashboard']" *ngIf="set">HRIS v.1.2</a>
    <a class="navbar-brand" [routerLink]="['/home', 'update',id]" *ngIf="!set">HRIS v.1.2</a>

    <div class="collapse navbar-collapse" id="navbarsExampleContainer" *ngIf="set">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home', 'dashboard']">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home', 'employees']">Employees</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Modules</a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" [routerLink]="['/home', 'pds']">Personal Data Sheet</a>
            <a class="dropdown-item" [routerLink]="['/home', 'leave']">Leave Module</a>
          </div>
        </li>

        
        
      </ul>
      <div class="form-inline my-2 my-md-0">
        <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-sign-out" aria-hidden="true">Log-out</i></button>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarsExampleContainer" *ngIf="!set">
      <ul class="navbar-nav mr-auto"></ul>
      <div class="form-inline my-2 my-md-0">
        <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-sign-out" aria-hidden="true">Log-out</i></button>
      </div>
    </div>
  </div>
</nav>

<div class="container">
<!-- Content here -->
<router-outlet></router-outlet> 
</div>


